.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  gap: 24px;
}

.product {
}

.image {
}

.content {
}

.name {
}

.prices {
}

.originalPrice {
}

.divider {
}

.starRating {
}

.likeCount {
}
